@import "colores";
@import "estructura";

$margenderecho: 5px;
$blue: blue; 
$fuente: 20px;
/*condicionales*/
$fuenteletra: estilo;
$mostrar:true;
$ocultar:false;
$temperatura: 20;
/*maps*/
$indexx :(divv:darkblue, barra:blue, precios:blue, footer:black);
@each $a, $b in $indexx {
    .#{$a} {
        background-color: $b;
    }
}
/*bucle*/
$colorindex :(divv:white, barra: white, precios : black, footer:white);
@each $a, $b in $colorindex {
    .#{$a} {
        color: $b;
    }
}
/*mapget*/
$estilos: (
    distancia:10px 30px,
    margenn:10px, 
    ancho:400px    
);
.imagenn {
    transition: 5s; 
    .imagenn:hover {
      transform: rotate(360dg); }
    }
.headerr {
    background-image: linear-gradient(to bottom, white, blue);
    @if $mostrar {
    border: 2px solid black;}
    text-align: center;
    font-size: ($fuente * 2);
        p {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: ($fuente*2);
        font-style: italic; }
         }
      
.tituloo {
    transition: 3s; 
    &:hover {
      transform: translate(10px, 10px); }
    }
.titulos {
    transition: 5s; 
    &:hover {
      transform: scale(3.1); }
    }
.divv {
    background-color: (darkblue);
    border: 2px solid black; }
    .divv a {
          color: white;
          @if $fuenteletra == verdanaa {
              font-family: Verdana, Geneva, Tahoma, sans-serif;
          } @else if $fuenteletra == ariall {
              font-family: Arial, Helvetica, sans-serif;
          } @else {
              font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;         
          }
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          text-decoration: none; }
.barra {
    text-decoration: none;
    
}
.tituloprecio {
    text-align: center;
}
.footer {
    @if $temperatura <40 {
        background-color: black;
    } @else if $temperatura <60 {
        background-color: orange;
    } @else if ($temperatura <=100) {
        background-color: red;
    } @else {
        background-color: yellow;
    }
}
.productos {
    color: black
}
.subrayado {
    text-decoration: underline;
}
.productos--aceptar{
    @extend.productos;
    @extend.subrayado;
    background-color: lightblue;
    color: black;
} 
.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: ($fuente)+10;
    box-shadow: 0px 1px 10px rgba 0, 0, 0, 0.3;
    z-index: 100; 
    &:hover {
      text-decoration: none;
      color: #0df053;
      background: #fff; }
    }
    @mixin sizes ($width,$height) {
        height: $height;
        width: $width;
    }    
    .imagenprincipal {
        @include sizes(300px, 250px )
    }
    @mixin sizes2($text,$border,$background,$margin,$padding) {
        text-align: $text;
        border:$border;
        background-color: $background;
        margin: $margin;
        padding: $padding;
    } 
    .tituloproductos {
        @include sizes2(center,4px solid black ,blue ,10px ,20px )
    }
    